.about {
  display: table;
  width: 100vw;
  height: 20vh;  
  text-align: center;
  margin: 0;
  background-image: url("../../photos/abo.png");
  font-family: 'Major Mono Display', monospace;
}

.aboutTitle {
  display: table-cell;
  vertical-align: middle;
  font-size: 5rem;
}
