.contentAbout {
  width: 70vw;
  height: 100vh;
  margin-left: 30vw;
  position: relative;
//background-color: #e5d689;
  background-image: url("../../photos/abo.png");
  font-family: 'Amiko', sans-serif;
}

.name {
  font-size: 5rem;
  margin: 0rem 7rem 0rem; 
  padding: 2rem 1rem 1rem 1rem;
  color: rgba(0,0,0,0.5);
}

.job {
  font-size: 2rem;
  margin: 0rem 10rem 0rem 15rem; 
  color: rgba(0,0,0,1);

}

.title {
  font-size: 1.7rem;
  margin: 0rem 5rem 2rem; 
  padding: 1rem 1rem 1rem 1rem;
  color: rgba(0,0,0,1);

}

.aboutme {
  font-size: 1rem;
  margin: 0rem 5rem 5rem; 
  color: rgba(0,0,0,1);

}
