.contentSkill {
  width: 70vw;
  height: 100vh;
  margin-left: 30vw;
  position: relative;
//background-color: #e5d689;
  background-image: url("../../photos/ski.png");
  font-family: 'Amiko', sans-serif;
}

.tool {
  width: 50%;
  height: 90%;
}

.skill {

}
